input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 80%;
}

input {
    background-color: lightgray;
    border-radius: 5px;
    border-color: slategray;
}

h3 {
    font-variant: small-caps;
}

div {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p:first-letter {
    color: darkred;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.hidden {
    display: hidden;
}

span:hover {
    color: darkred;
}

/* https://css-tricks.com/snippets/css/drop-caps/ */